window {
  background-color: #000000;
  border-radius: 15px;
}

* {
  font-family: "JetBrains Mono";
  color: #ffffff;
}

#input {
  background-color: #101010;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#outer-box {
  font-size: 1rem;
  padding: 2rem;
}

.entry {
  background-color: #101010;
  border-radius: 15px;
  padding: 1rem;
}

#entry:selected {
  background-color: #b5beff;
  border-radius: 15px;
}

#text {
  margin-left: 0.5rem;
}

